$primary-default-color:   #5C6BC0;
$primary-hue-1-color:     #78909C;
$primary-hue-2-color:     #B0BEC5;
$primary-hue-3-color:     #ECEFF1;
$accent-color:           #CDDC39;
$warn-color:           #F44336;
$primary-text-color:   #263238;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$header-height: 100px;
$header-bkg: white;
$header-top-height: 30px;
$header-bottom-height: 70px;

$footer-height: 200px;
$footer-top-height: 200px;
$footer-bottom-height: 30px;
$footer-bkg: #9FA8DA;
