<md-toolbar layout="row" class="docs-header-top md-hue-2" flex>
    <div layout="row" flex>
        <md-button class="phone-number">
            <i class="fa fa-phone-square"></i>
            +234 807 424 3350
        </md-button>
    </div>
    <div layout="row" layout-align="end" flex>
        <a ui-sref="home">
            <md-button>
                <i class="fa fa-home"></i>
                Home
            </md-button>
        </a>
        <docs-md-divider></docs-md-divider>
        <a ui-sref="about">
            <md-button>
                <i class="fa fa-info"></i>
                About Us
            </md-button>
        </a>
        <docs-md-divider></docs-md-divider>
        <a ui-sref="contact">
            <md-button>
                <i class="fa fa-location-arrow"></i>
                Contact Us
            </md-button>
        </a>
        <docs-md-divider></docs-md-divider>
        <md-button class="social"> <i class="fa fa-facebook-f"></i> </md-button>
        <md-button class="social"> <i class="fa fa-twitter"></i> </md-button>
    </div>
</md-toolbar>
<md-toolbar layout="row" layout-align="center center" class="docs-header-bottom md-hue-3">
    <div layout="row" layout-align="start" flex="20">
        <a ui-sref="home">
            <img src="./../resources/img/aliluokLogo_30.png" alt="">
        </a>
    </div>
    <div layout="row" layout-align="center" flex>Link</div>
    <div layout="row" layout-align="end" flex="20">
        <a href="http://aliluok.dev/admin" >
            <md-button>
                <i class="fa fa-sign-in"></i>
                Login
            </md-button>
        </a>
    </div>
</md-toolbar>