<md-toolbar layout="row" class="docs-footer-bottom md-hue-2">
    <div layout="row" flex>
        <md-button>
            <i class="fa fa-copyright"></i>
            Aliluok Nigeria Limited, 2015
        </md-button>
    </div>
    <div layout="row" layout-align="end" flex>
        <md-button class="social"> <i class="fa fa-facebook-f"></i> </md-button>
        <md-button class="social"> <i class="fa fa-twitter"></i> </md-button>
        <docs-md-divider></docs-md-divider>
        <a href="http://whitewaves.org">
            <md-button>
                A whitewaves design
            </md-button>
        </a>
    </div>
</md-toolbar>